@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: hsl(204, 43%, 93%);
  font-size: 16px !important;
  font-family: "Karla", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 45%;
  min-width: 45%;
  height: auto;
  overflow: hidden;
  background-color: hsl(218, 22%, 27%);
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, calc(100% / 2));
  box-shadow: 0px 0px 54px 1px hsl(218, 22%, 77%);
}

.font-weight-1 {
  font-weight: 700;
}

.font-weight-2 {
  font-weight: 400;
}

#header {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 2em 2em;
  overflow: auto;
  background-color: #fff;
}

#header h3 {
  color: hsl(179, 62%, 43%);
  margin: 0px;
}

#header h4 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 0px;
}

#header p {
  color: hsl(218, 22%, 67%);
  margin-bottom: 0px;
}

#subscription {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  padding: 2em 2em;
  overflow: auto;
}

#subscription h4 {
  margin: 0px;
}

#subs-text1 {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.price {
  font-size: 2em;
}

.per {
  margin-left: 1em;
  color: hsl(218, 22%, 77%);
}

#subs-text2 {
  margin-top: 8px;
  margin-bottom: 16px;
}

#subscription a {
  text-decoration: none;
  display: block;
  padding: 0.75em;
  color: hsl(204, 43%, 93%);
  background-color: hsl(71, 73%, 54%);
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 6px 24px 0px hsl(218, 22%, 37%);
}

#why-us {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: hsl(179, 62%, 53%);
  padding: 2em 2em;
  overflow: auto;
}

#why-us h4 {
  margin: 0px;
  color: hsl(204, 43%, 93%);
}

#why-us p {
  margin-bottom: 0px;
  margin-top: 16px;
  font-size: 0.95em;
  color: hsl(204, 43%, 93%);
}

footer p {
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  text-align: center;
  color: hsl(218, 22%, 47%);
  padding-bottom: 8px;
  border-bottom: solid 2px transparent;
  transition-duration: 0.5s;
}

.attribution a:hover {
  animation-name: hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@media (max-width: 375px) {
  body {
    font-size: 13px !important;
  }

  main {
    max-width: 90%;
    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: none;
  }

  #header {
    grid-column: 1/2;
  }

  #subscription {
    grid-column: 1/2;
  }

  #why-us {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  footer p{
    text-align: center;
  }
}

@keyframes hover {
  0% {
    border-image: linear-gradient(
        to right,
        hsl(218, 22%, 47%),
        #e5eef4,
        #e5eef4
      )
      1;
  }

  50% {
    border-image: linear-gradient(
        to right,
        hsl(218, 22%, 47%),
        hsl(218, 22%, 47%),
        #e5eef4
      )
      1;
  }

  100% {
    border-color: hsl(218, 22%, 47%);
  }
}
